        /*!

Use this style sheet for custom styling classes

*/
        
        .body {
            background-color: rgb(249, 247, 245);
        }
        
        .registeren {
            /* Background image is centered vertically and horizontally at all times */
            background-position: center center;
            /* Background image doesn't tile */
            background-repeat: no-repeat;
            /* Background image is fixed in the viewport so that it doesn't move when 
              the content's height is greater than the image's height */
            background-attachment: fixed;
            /* This is what makes the background image rescale based
              on the container's size */
            background-size: cover;
            /* Set a background color that will be displayed
              while the background image is loading */
            background-color: rgb(249, 247, 245);
        }
        
        .shape-primary-bg {
            background-image: url('bg.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        
        .fill-bg {
            fill: #f9f7f5;
        }
        
        .default-bg {
            background: rgb(249, 247, 245);
        }
        
        .thumbnail {
            position: relative;
        }
        
        .caption {
            position: absolute;
            top: 55%;
            left: 0;
            width: 100%;
        }
        
        .row.no-gutter {
            margin-left: 0;
            margin-right: 0;
        }
        
        .row.no-gutter [class*='col-']:not(:first-child),
        .row.no-gutter [class*='col-']:not(:last-child) {
            padding-right: 0;
            padding-left: 0;
        }
        
        .wrap {
            display: flex;
            background: white;
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 0.0rem;
            position: relative;
            transition: all .2s ease-in-out;
        }
        
        .text-black {
            color: #000000 !important;
        }
        
        .wrap a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
        
        .wrap:hover {
            color: rgb(59, 159, 226);
        }
        
        .wrap:hover i {
            color: rgb(59, 159, 226);
            transform: scale(1.4);
        }
        
        .header-image {
            height: 240px;
            width: 100%;
            object-fit: cover;
        }
        
        .header_image_text {
            position: relative;
            padding: 10px;
            margin-top: -76px;
        }
        
        .header_image_text_lower {
            position: absolute;
            padding: 10px;
            margin-top: -40px;
        }
        
        .dropdown {
            font-size: 16px;
            border: none;
            outline: none;
            padding: 14px 16px;
            background-color: inherit;
            font: inherit;
            margin: 0;
            transition: max-height 0.5s ease-out;
        }
        
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            transition: max-height 0.5s ease-out;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-menu .header {
            padding: 16px;
            transition: max-height 0.5s ease-out;
        }
        
        .product-card-title-height {
            min-height: 80px;
        }
        
        .product-card-text-height {
            min-height: 100px;
        }
        
        .footer {
            background-color: #08202e;
            padding-top: 80px;
            color: #636e74;
            font-weight: 400;
            font-size: 17px;
        }
        
        .footer-line {
            border-color: #152e3d;
        }
        
        .footer-widget {
            padding-bottom: 50px;
        }
        
        .footer-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 44px;
            color: #fff;
        }
        
        .footer-widget ul li a {
            text-transform: capitalize;
            font-size: 17px;
            color: #636e74;
            display: block;
            font-weight: 600;
        }
        
        .footer-widget ul li a:hover {
            color: #fff;
        }
        
        .newsletter-form {
            padding-top: 15px;
        }
        
        .newsletter-form .form-control {
            background-color: #1e2e38;
            border-color: #1e2e38;
        }
        
        .newsletter-form .form-control:focus {
            color: #fff;
        }
        
        .newsletter-form input::-webkit-input-placeholder {
            color: #fff !important;
        }
        
        .newsletter-form input:focus::-webkit-input-placeholder {
            color: #fff !important;
        }
        
        .tiny-footer {
            font-size: 14px;
            padding: 14px 0px;
            font-weight: 600;
            background-color: transparent;
            border-top: 1px solid #152e3d;
            color: #888d90;
            line-height: 1;
        }
        
        .post-module {
            position: relative;
            z-index: 1;
            display: block;
            background: #FFFFFF;
            min-width: 270px;
            height: 446px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            transition: all 0.3s linear 0s;
        }
        
        .post-module:hover,
        .hover {
            box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.2);
        }
        
        .post-module .thumbnail {
            background: #000000;
            height: 400px;
            overflow: hidden;
        }
        
        .post-module .thumbnail .date {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background: #e74c3c;
            width: 55px;
            height: 55px;
            padding: 12.5px 0;
            border-radius: 100%;
            color: #FFFFFF;
            font-weight: 400;
            text-align: center;
            box-sizing: border-box;
        }
        
        .post-module .thumbnail .date .day {
            font-size: 18px;
        }
        
        .post-module .thumbnail .date .month {
            font-size: 12px;
            text-transform: uppercase;
            margin-top: -5px;
        }
        
        .post-module .thumbnail img {
            display: block;
            width: 120%;
            transition: all 0.3s linear 0s;
        }
        
        .post-module .post-content {
            position: absolute;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }
        
        .post-module .post-content .category {
            position: absolute;
            top: -34px;
            left: 0;
            background: #e74c3c;
            padding: 10px 15px;
            color: #FFFFFF;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
        }
        
        .post-module .post-content .title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 26px;
            font-weight: 700;
        }
        
        .post-module .post-content .sub_title {
            margin: 0;
            padding: 0 0 20px;
            color: #e74c3c;
            font-size: 20px;
            font-weight: 400;
        }
        
        .post-module .post-content .description {
            display: none;
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
        }
        
        .post-module .post-content .post-meta {
            margin: 30px 0 0;
            color: #999999;
        }
        
        .post-module .post-content .post-meta .timestamp {
            margin: 0 16px 0 0;
        }
        
        .post-module .post-content .post-meta a {
            color: #999999;
            text-decoration: none;
        }
        
        .hover .post-content .description {
            display: block !important;
            height: auto !important;
            opacity: 1 !important;
        }
        
        .inputcontainer {
            position: relative;
        }
        
        input {
            width: 100%;
            font-size: 20px;
            box-sizing: border-box;
        }
        
        input {
            color: #000000;
        }
        
        .icon-container {
            position: absolute;
            right: 25px;
            top: calc(50% - 10px);
        }
        
        .loader {
            position: relative;
            height: 20px;
            width: 20px;
            display: inline-block;
            animation: around 5.4s infinite;
        }
        
        @keyframes around {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }
        
        .loader::after,
        .loader::before {
            content: "";
            background: white;
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-width: 2px;
            border-color: #333 #333 transparent transparent;
            border-style: solid;
            border-radius: 20px;
            box-sizing: border-box;
            top: 0;
            left: 0;
            animation: around 0.7s ease-in-out infinite;
        }
        
        .loader::after {
            animation: around 0.7s ease-in-out 0.1s infinite;
            background: transparent;
        }
        
        .bigshadow {
            box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .27)!important;
        }
        
        .param {
            margin-bottom: 7px;
            line-height: 1.4;
        }
        
        .param-inline dt {
            display: inline-block;
        }
        
        .param dt {
            margin: 0;
            margin-right: 7px;
            font-weight: 600;
        }
        
        .param-inline dd {
            vertical-align: baseline;
            display: inline-block;
        }
        
        .param dd {
            margin: 0;
            vertical-align: baseline;
        }
        
        .shopping-cart-wrap .price {
            font-size: 18px;
            font-weight: bold;
            margin-right: 5px;
            display: block;
        }
        
        var {
            font-style: normal;
        }
        
        .media img {
            margin-right: 1rem;
        }
        
        .img-sm {
            width: 90px;
            max-height: 75px;
            object-fit: cover;
        }
        
        .bs-wizard {
            margin-top: 40px;
        }
        /*Form Wizard*/
        
        .bs-wizard {
            border-bottom: solid 1px #e0e0e0;
            padding: 0 0 10px 0;
        }
        
        .bs-wizard>.bs-wizard-step {
            padding: 0;
            position: relative;
        }
        
        .bs-wizard>.bs-wizard-step+.bs-wizard-step {}
        
        .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }
        
        .bs-wizard>.bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }
        
        .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #fbe8aa;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }
        
        .bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
            content: ' ';
            width: 14px;
            height: 14px;
            background: #fbbd19;
            border-radius: 50px;
            position: absolute;
            top: 8px;
            left: 8px;
        }
        
        .bs-wizard>.bs-wizard-step>.progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }
        
        .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
            width: 0px;
            box-shadow: none;
            background: #fbe8aa;
        }
        
        .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
            width: 100%;
        }
        
        .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
            width: 50%;
        }
        
        .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
            width: 0%;
        }
        
        .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
            width: 100%;
        }
        
        .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
            background-color: #f5f5f5;
        }
        
        .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
            opacity: 0;
        }
        
        .bs-wizard>.bs-wizard-step:first-child>.progress {
            left: 50%;
            width: 50%;
        }
        
        .bs-wizard>.bs-wizard-step:last-child>.progress {
            width: 50%;
        }
        
        .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
        
        .custom-control-input-two {
            position: unset;
            z-index: -1;
            opacity: 0
        }
        
        .custom-control-input-two:checked~.custom-control-label::before {
            color: #fff;
            background-color: #5e72e4;
            box-shadow: none
        }
        
        .custom-control-input-two:focus~.custom-control-label::before {
            box-shadow: none
        }
        
        .custom-control-input-two:active~.custom-control-label::before {
            color: #fff;
            background-color: #5e72e4;
            box-shadow: none
        }
        
        .custom-control-input-two:disabled~.custom-control-label {
            color: #8898aa
        }
        
        .custom-control-input-two:disabled~.custom-control-label::before {
            background-color: #e9ecef
        }
        
        .custom-radio .custom-control-input-two:checked~.custom-control-label::before {
            border-color: #5e72e4
        }
        
        .custom-radio .custom-control-input-two:checked~.custom-control-label::after {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'%3E%3Ccircle r=\'3\' fill=\'%23fff\'/%3E%3C/svg%3E')
        }
        
        .custom-radio .custom-control-input-two:disabled~.custom-control-label::before {
            border-color: #e9ecef
        }
        
        .custom-radio .custom-control-input-two:disabled:checked::before {
            border-color: rgba(94, 114, 228, .5)
        }
        
        .single {
            padding: 10px 15px;
        }
        
        .single h3.side-title {
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            font-size: 20px;
            color: #333;
            text-transform: uppercase;
        }
        
        .single h3.side-title:after {
            content: '';
            width: 60px;
            height: 1px;
            background: rgba(94, 114, 228, .5);
            display: block;
            margin-top: 6px;
        }
        
        .single li a {
            color: #666;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 40px;
            display: block;
        }
        
        .single li a:hover {
            color: #5e72e4;
        }